@*@model BooksStore.Models.Book*@
@model BooksStore.ViewModels.BookAuthorViewModel

@{
    ViewData["Title"] = "Create Book";


    //var Authors = ViewBag.Author as IEnumerable<BooksStore.Models.Book>;
}
@*<head>     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>*@
<h1 class="text-center mb-4">Create Author</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">Create Book</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Create" asp-route-id="@Model.AuthorId" method="post">
                        <div asp-validation-summary="ModelOnly" class="Text-Danger"> </div>
                        <div class="form-group mb-3">
                            <label for="Title" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="Title" name="Title" required />

                            <span asp-validation-for="Title" class="Text-Danger"> </span>


                            <label for="Description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="Title" name="Description" required />
                            <span asp-validation-for="Description" class="Text-Danger"> </span>
                            <div class="form-group">
                                <label for="AuthorId">Author</label>
                           @*     <select asp-for="AuthorId" asp-items="@(ViewBag.Author)" class="form-control">
                                    <!-- Optional prompt -->
                                </select>*@

                                     <select asp-for="AuthorId" asp-items="@(new SelectList(Model.authors,"Id","FullName"))" class="form-control">
                                    <!-- Optional prompt -->
                                </select>
                            </div>

                            <div class="invalid-feedback">
                                Please provide the full name of the author.
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-info">Create Book</button>
                            <a href="@Url.Action("Index", "Author")" class="btn btn-outline-info">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
