@model BooksStore.Models.Author

@{
    ViewData["Title"] = "Author Details";
}

<h2 class="text-center mb-4">Author Details</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="card-title">Author Information</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <!-- Author ID -->
                 @*   <dt class="col-sm-3">Author ID</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>*@

                    <!-- Full Name -->
                    <dt class="col-sm-3">Full Name</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.FullName)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 text-center">
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
